In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
label = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data=my_data, index=label)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_data, label)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(arr, label)

a    10
b    20
c    30
dtype: int32

In [15]:
d

{'a': 10, 'b': 20, 'c': 30}

In [16]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data=label)

0    a
1    b
2    c
dtype: object

In [19]:
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
ser1 = pd.Series([1,2,3,4],['India', 'Germany', 'USA', 'UK'])

In [21]:
ser1

India      1
Germany    2
USA        3
UK         4
dtype: int64

In [22]:
ser2 = pd.Series([1,2,5,4], ['USA', 'France', 'Austria', 'Hungry'])

In [23]:
ser2

USA        1
France     2
Austria    5
Hungry     4
dtype: int64

In [25]:
ser1['USA']

3

In [26]:
ser2['USA']

1

In [27]:
ser1 + ser2

Austria    NaN
France     NaN
Germany    NaN
Hungry     NaN
India      NaN
UK         NaN
USA        4.0
dtype: float64

# Data Frames

In [28]:
import numpy as np

In [30]:
import pandas as pd

In [31]:
from numpy.random import randn

In [32]:
np.random.seed(101)

In [34]:
df1 = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [35]:
df1

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [36]:
df1['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [40]:
type(df1['W'])

pandas.core.series.Series

In [43]:
df1['W']['A']

0.3026654485851825

In [44]:
df1.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [48]:
df1[['W', 'Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652